<div id="container_dash">
  
  <div id="left_colum">
    <% $client.home_timeline.each do |t| %>
    
      <% if t.uris? %>
  
        <% t.uris.each do |u| %>
        
          <a href="<%= u.expanded_url %>"><%= u.expanded_url %></a><br>
        
        <% end %>
        
      <% end %>
    
    <% end %>
  </div>
  
  <div id="right_colum">
    
  </div>
  
</div>