<div id="container_dash" class="clearfix box_fix">
  
  <div id="left_column" class="box_fix">
    
    <% unless $tweet_links.nil? %>
    
      <% $tweet_links.each do |t| %>
    
        <% if t.uris? %>
  
          <% t.uris.each do |u| %>
        
            <a class="links" href="<%= u.expanded_url %>"><%= u.expanded_url %></a><br><br>
        
          <% end %>
        
        <% end %>
        
      <% end %>
    
    <% end %>
  </div>
  
  <div id="right_column" class="box_fix">
    
  </div>
  
</div>