<div id="container_dash" class="clearfix box_fix">
  
  <div id="left_column" class="box_fix">
    
    <% links = Array.new %>
    
    <% $client.home_timeline.each do |t| %>
    
      <% if t.uris? %>
  
        <% t.uris.each do |u| %>
        
          <% links << u.expanded_url %>
        
          <a class="links" href="<%= u.expanded_url %>"><%= u.expanded_url %></a><br><br>
        
        <% end %>
        
      <% end %>
    
    <% end %>
  </div>
  
  <div id="right_column">
    
    <div id="token" hidden><%= ENV['READABILITY_API_TOKEN'] %></div>
    
  </div>
  
</div>