<div id="container_dash">
  
  <div id="left_colum">
    <% $client.home_timeline.each do |t| %>
  
      <p><%= t %></p>
    
    <%end %>
  </div>
  
  <div id="right_colum">
    
  </div>
  
</div>