@import "normalize";
@import "settings";

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: none;
   height: 0;
   clear: both;
   visibility: hidden;
}

.box_fix{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

html{
  background-color:#FFEBC5;
  position: relative;
  min-height: 100%;  
}

body{
  
}

header{
  background-color:#0CA5B0;
  height:100px;
  border-bottom: solid;
  border-color: #4E3F30;
  border-width: 5px;
}

#container_dash{
 
}

#left_column{
  text-align: center;
  width: 25%;
  float: left;
  padding: 20px 20px 20px 20px;
}

#right_column{
  background-color:#FEFEEB;
  border-left: solid;
  border-width: 5px;
  border-color: #4E3F30;
  float: left;
  width: 75%;
  padding: 20px 20px 20px 20px;
  min-height: 750px;
}

#container_home{
}

#footer {
  clear:both;
  height: 100px;
  border-top: solid;
  border-color: #4E3F30;
  border-width: 5px;
  background-color: #A5B3AA;
  left: 0;
  bottom: 0;
  width: 100%;
}