@import "normalize";
@import "settings";

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: none;
   height: 0;
   clear: both;
   visibility: hidden;
}

.box_fix{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

html{
  background-color:#93FFED;
  position: relative;
  min-height: 100%;  
}

body{
  
}

header{
  background-color:#01CB11;
  height:100px;
  border-bottom: solid;
  border-color: #000;
  border-width: 3px;
}

#container_dash{
  background-color:#AB1513;
}

#left_column{
  background-color:#848484;
  width: 30%;
  float: left;
  border-color: #000;
  border-width: 3px;
  border-right: solid;
}

#right_column{
  background-color:#582499;
  float: left;
  width: 70%;
  
}

#container_home{
  background-color:#8A8A8A;
}

footer {
  clear:both;
  height: 100px;
  border-top: solid;
  border-color: #000;
  border-width: 3px;
  background-color: #F0E600;
  left: 0;
  bottom: 0;
  width: 100%;
}